<div class="title">
  <span style="--i:1;">Д</span>
  <span style="--i:2;">о</span>
  <span style="--i:3;">б</span>
  <span style="--i:4;">р</span>
  <span style="--i:5;">о</span>
  <span style="--i:6;">&nbsp;</span>
  <span style="--i:7;">п</span>
  <span style="--i:8;">о</span>
  <span style="--i:9;">ж</span>
  <span style="--i:10;">а</span>
  <span style="--i:11;">л</span>
  <span style="--i:12;">о</span>
  <span style="--i:13;">в</span>
  <span style="--i:14;">а</span>
  <span style="--i:15;">т</span>
  <span style="--i:16;">ь</span>
  <span style="--i:17;">&nbsp;</span>
  <span style="--i:18;">в</span>
  <span style="--i:19;">&nbsp;</span>
  <span style="--i:20;">т</span>
  <span style="--i:21;">е</span>
  <span style="--i:22;">с</span>
  <span style="--i:23;">т</span>
  <span style="--i:24;">о</span>
  <span style="--i:25;">в</span>
  <span style="--i:26;">о</span>
  <span style="--i:27;">е</span>
  <span style="--i:28;">&nbsp;</span>
  <span style="--i:29;">з</span>
  <span style="--i:30;">а</span>
  <span style="--i:31;">д</span>
  <span style="--i:32;">а</span>
  <span style="--i:33;">н</span>
  <span style="--i:34;">и</span>
  <span style="--i:35;">е</span>
  <span style="--i:36;">!</span>
</div>
