<div class="settings">
  <app-button (clickEvent)="toggleModal()">Настройки</app-button>

  <div class="settings__modal" *ngIf="modalIsOpened" [@settingsModalAnimation]>
    <div class="settings__modal-header">
      <span>Доступные источники</span>

      <app-icon-button class="cancel-button" (clickEvent)="toggleModal()">
        &#10006;
      </app-icon-button>
    </div>

    <div class="settings__modal-toolbar">
      <app-checkbox
        [checked]="(unavailableSourceCheckingState$ | async)"
        (clickEvent)="setUnavailableSourceCheckingState($event)"
      >
        Проверять недоступные источники
      </app-checkbox>
    </div>

    <div class="settings__modal-content">
      <app-settings-item
        *ngFor="let source of (sourceList$ | async); index as i; trackBy: trackByFn"
        [sourceName]="source.name"
        [sourceIndex]="i"
        [inUse]="source.inUse"
        [maxSources]="(sourceList$ | async)?.length"
        (moveUpEvent)="moveItemUp($event)"
        (moveDownEvent)="moveItemDown($event)"
      >
      </app-settings-item>
    </div>
  </div>
</div>
