<div class="currency-market">
  <div class="currency-market__actions">
    <app-select
      [items]="selectOptions"
      [multiple]="true"
      placeholder="Выберете валюту..."
      (addEvent)="addFilterItem($event)"
      (removeEvent)="removeFilterItem($event)"
      (clearEvent)="clearFilter()"
    >
    </app-select>

    <app-settings-modal class="settings"></app-settings-modal>
  </div>

  <div class="currency-market__content" *ngIf="(currencyItems$ | async)?.length; else loader">
    <app-currency-item
      *ngFor="let currencyItem of (currencyItems$ | async | currencyFilter:filterValues); trackBy: trackByFn"
      [item]="currencyItem"
    >
    </app-currency-item>
  </div>

  <ng-template #loader>
    <div class="loader-wrapper">
      <app-loader></app-loader>
    </div>
  </ng-template>
</div>
