@import 'src/variables';


:host {
  display: flex;
  height: inherit;
  flex-direction: column;
}

.main-container {
  height: calc(100% - #{$header-height});
  overflow: auto;

  &__content {
    height: 100%;
    max-width: $content-width;
    padding: 10px;
    margin: 0 auto;
  }
}
